@font-face {
  font-family: 'Gotham-Medium';
  src:
    local('TacOne'),
    url(../theme/assets/Gotham-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham-Bold';
  src:
    local('Gotham'),
    url(../theme/assets/Gotham-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham-Light';
  src:
    local('Gotham'),
    url(../theme/assets/Gotham-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham-Book';
  src:
    local('Gotham'),
    url(../theme/assets/Gotham-Book.otf) format('opentype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #090a16;
  background: linear-gradient(65deg, #090a16 70%, rgba(22, 26, 64, 1) 100%);
}

body {
  width: 100vw;
  overflow-x: hidden;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
